.errandTracker {
    background-color: rgba(252, 252, 252, 0.2);
    width: 475px;
    padding-bottom: 40px;
    text-align: center;
    height: 450px
}

.centered {
    height: 20vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredText{
    text-align: center;
}

.centered table {
    border: 3px solid black;
    background-color: white;
    width: 800px;
    height: 200px;
}

.centered th {
    border-bottom: 1px solid white;
}
    
.centered td {
    text-align: left;
    padding-left: 5%;
    font-size: 16px;
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}