.navbar{
    padding-bottom: 0rem;
    padding-right: 5%;
    margin-left: 0%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
    margin-right: 10px;
}

.Header{
    background-color: #4BD8F6;
    height: 120px;
}

.ms-auto{
    font-size: 1.5rem;
    font-family: "Montserrat";
}
