* {
    margin: 0;
    padding: 0;
  }
  
  /*This applies to everything. The app lives inside the body of index.html.
  This includes the header and footer. Be careful what you change here*/
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #369dfc;
  }
  
  .registration {
    margin: 5% auto;
    padding: 40px 0;
    text-align: center;
  }
  
  .registration h1 {
    font-size: 40px;
    font-weight: 200;
    color: grey;
  }
  
  .registrationInput {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
    box-sizing: border-box;
  }
  
 .registrationButton {
    appearance: none;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: grey;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }
  