body{
    color: black;
    text-align: center;
    padding-bottom: 60px;

}

.messageInput {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.5);
    width: 450px;
    border-radius: 30px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: white;
    font-weight: 300;
    box-sizing: border-box;
  }

  .messageButton {
    appearance: none;
    outline:1px solid rgba(252, 252, 252, 0.4);
    border: 0px;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    width: 175px;
    font-size: 18px;
    margin-top: 10px;
  }

  .chatbox {
    /* font-size: xx-large; */
    height: 600px;
    width: 50%;
    margin: auto;
    /* padding-left: 35%; */
    overflow-y: scroll;
    /* text-align: center; */

  }

  .messagesent {
    color: white;
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 10%;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px;
  }

  .messagereceived {
    background-color: #4BD8F6;
    border-radius: 10%;
    width: 40%;
    height: auto;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 5px;
  }

  .form {
    /* background-color: red; */
    width: 60%;
    margin: auto;
  }
